[
  {
    "name": "Example 'malloc1.c'",
    "files": [
      "malloc1.c"
    ]
  },
  {
    "name": "Example 'malloc1a.c'",
    "files": [
      "malloc1a.c"
    ]
  },
  {
    "name": "Example 'malloc1b.c'",
    "files": [
      "malloc1b.c"
    ]
  },
  {
    "name": "Example 'malloc2.c'",
    "files": [
      "malloc2.c"
    ]
  },
  {
    "name": "Example 'malloc3.c'",
    "files": [
      "malloc3.c"
    ]
  },
  {
    "name": "Example 'malloc4.c'",
    "files": [
      "malloc4.c"
    ]
  },
  {
    "name": "Example 'malloc1.c' with potential malloc fail.",
    "files": [
      "malloc1.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  },
  {
    "name": "Example 'malloc1a.c' with potential malloc fail.",
    "files": [
      "malloc1a.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  },
  {
    "name": "Example 'malloc1b.c' with potential malloc fail.",
    "files": [
      "malloc1b.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  },
  {
    "name": "Example 'malloc2.c' with potential malloc fail.",
    "files": [
      "malloc2.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  },
  {
    "name": "Example 'malloc3.c' with potential malloc fail.",
    "files": [
      "malloc3.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  },
  {
    "name": "Example 'malloc4.c' with potential malloc fail.",
    "files": [
      "malloc4.c"
    ],
    "raw_options" : { "-val-malloc-returns-null": "true" }
  }
]
